
<div class="block">
    <div class="header">
        <div class="left">
            <div class="title">Datepicker</div>
            <div class="subtitle">Same 'ol datepicker, just on a diet</div>
        </div>
        <div class="right">
            <div class="tag"></div>
        </div>
    </div>
    <div class="content description">

    </div>
</div>
<div class="block">
	<div class="header">
		<div class="left">
			<div class="title">Working Example</div>
		</div>
	</div>
	<div class="content">

	</div>
</div>
<!-- <div class="block">
    <div class="header">
        <div class="left">
            <div class="title">Markup</div>
        </div>
    </div>
    <div class="content syntax">
        <pre class="language-markup">
            <code>

            </code>
        </pre>
    </div>
</div>
<div class="block">
    <div class="header">
        <div class="left">
            <div class="title">Confguration</div>
        </div>
        <div class="right"></div>
    </div>
    <div class="content syntax">
        <pre class="language-javascript">
            <code>

            </code>
        </pre>
    </div>
</div> -->
<!-- <div class="block">
    <div class="header">
        <div class="left">
            <div class="title">JavaScript</div>
        </div>
        <div class="right"></div>
    </div> -->
    <div class="content syntax render" data-url="./scripts/datepicker.js"></div>
<!-- </div> -->
