
<div class="block">
    <div class="header">
        <div class="left">
            <div class="title">DOM Highlighter</div>
            <div class="subtitle">Control + F (without actually using Control + F)</div>
        </div>
        <div class="right">
            <div class="tag"></div>
        </div>
    </div>
    <div class="content description">
    	<p>There was a use case within Comcast where the business didn’t want agents always using Control + F to find a string of text on a page. Instead, the buisiness wanted the agents to use the functionality in the application. Complete overkill if you ask me, but regardless, we had to create it.</p>

		<p>There were several areas where we wanted to use this so me being me, I thought creating a reusable plugin was the way to go. Also, me being me, I knew there had to be a code snippet out there that someone created once so… TO STACK OVERFLOW! I found a great example that fit our needs, but I wanted to customize it so all of our developers could implement it with ease. </p>

		<p><a href="http://johannburkard.de/resources/Johann/jquery.highlight-5.js" target="_blank">I used this as my starting point (Props to Johann Burkard for developing this. It's pretty slick)</a><br><a href="http://johannburkard.de/" target="_blank">Also... here's his website</a></p>

		<p>I grabbed the code snippet, stripped it, and then developed around it to be configurable. The configurable part was to restrict where the search was actually happening in the DOM. I amended the script to intake a target and define whether it was a class or an ID. (ID’s for large chunks of the DOM, and classes for specific entries; in this case it was classes on columns of a datatable). You'll notice in the markup that the classes are assocaited with specific columns. You can match those targets to the configuration objects. They match up... trust me.</p>

		<p>I further configured the plugin so the user could define the color. This helped when we started theming our application. For instance, dark highlights would look horrible on dark backgrounds and visa-versa.</p>

		<p>In the example below, I decided to use a data table to show how it worked. (It can be used on any conatiner or elements that match the provided target). I kept the pagination on the datatable for the following:</p>

		<ol>
			<li>To show that the highlighter applies to all elements of its matched target</li>
			<li>Because I think it's sweet</li>
		</ol>

		<p>Scroll through the table, you'll see...</p>

    </div>
</div>
<div class="block">
	<div class="header">
		<div class="left">
			<div class="title">Working Example</div>
		</div>
	</div>
	<div class="content">
		<table id="sample-table">
			<thead>
				<tr>
					<th class="sortable ascending">Name</th>
					<th class="sortable">Position</th>
					<th>Office</th>
					<th>Extension</th>
					<th>Start Date</th>
					<th>Salary</th>
				</tr>
				<tr>
					<th>
						<input type="text" name="search-name" id="search-name">
					</th>
					<th>
						<input type="text" name="search-position" id="search-position">
					</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<div class="block">
    <div class="header">
        <div class="left">
            <div class="title">Markup</div>
        </div>
    </div>
    <div class="content syntax">
        <pre class="language-markup">
            <code>
				<table>
					<tbody>
						<tr>
							<td class="l-name">Tiger Nixon</td>
							<td class="l-position">System Architect</td>
							<td>Edinburgh</td>
							<td>5421</td>
							<td>2011/04/25</td>
							<td class="money">320,800.00</td>
						</tr>
					</tbody>
				</table>
            </code>
        </pre>
    </div>
</div>
<div class="block">
    <div class="header">
        <div class="left">
            <div class="title">Confguration</div>
        </div>
        <div class="right"></div>
    </div>
    <div class="content syntax">
        <pre class="language-javascript">
            <code>
            	$('#search-name').highlighter({
				    targetContainer: 'l-name',
				    containerType: 'class',
				    color: 'purple'
				});

				$('#search-position').highlighter({
				    targetContainer: 'l-position',
				    containerType: 'class',
				    color: 'offRed'
				});
            </code>
        </pre>
    </div>
</div>
<div class="block">
    <div class="header">
        <div class="left">
            <div class="title">JavaScript</div>
        </div>
        <div class="right"></div>
    </div>
    <div class="content syntax hide" data-url="./scripts/pagination.js"></div>
    <div class="content syntax render" data-url="./scripts/highlighter.js"></div>
</div>
<script type="text/javascript">
	
	$.get( "./scripts/tableObject.js", function( data ) {
		var obj = JSON.parse(data);
		var tableBody = $('#sample-table').find('tbody');
		for (var i = 0; i < obj.length; i++) {
			tableBody.append('\
				<tr>\
					<td class="l-name">' + obj[i].name + '</td>\
					<td class="l-position">' + obj[i].position + '</td>\
					<td>' + obj[i].office + '</td>\
					<td>' + obj[i].extn + '</td>\
					<td>' + obj[i].start_date + '</td>\
					<td class="money">' + obj[i].salary + '.00</td>\
				</tr>\
				')
		}

	});

</script>

